body {
  padding: 25px;
}

table {
  width: 50%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}

img {
  max-width: 100px;
  height: auto;
}

